@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root{
--cor-primaria: #000000;
--cor-secundaria: #f6f6f6;
--cor-tercearia: #22d4fd;
--cor-houver: #272722;

--fonte-primaria: 'Krona one', sans-serif;
--fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--cor-tercearia);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
    
.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}       

.apresentacao__conteudo__titulo {
    font-size: 36px; 
    font-family: var(--fonte-primaria);
}   

.titulo-destaque{
    color: var(--cor-tercearia);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__links {
    display: flex;
    justify-items: center;
    text-align: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 378px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    
}
.apresentacao__links__links:hover{
    background-color: var(--cor-houver);
}

.rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}